/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full-page background */
.background {
    min-height: 100vh; /* at least full viewport */
    background: radial-gradient(50% 100% at 50% 100%, rgb(57, 86, 115) 0%, rgb(0, 25, 38) 100%);
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* better for scrolling content */
    width: 100%;
    position: relative; /* instead of absolute */
}


/* Container for your content */
.container {
  max-width: 800px;
  width: 100%;
  text-align: center;
}

/* Body font */
body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #fff;
  line-height: 1.6;
}

/* Header styling */
header {
  padding: 20px;
}

/* Main content styling */
main {
    margin-bottom: 2em;
}

/* Paragraphs */
p {
    margin-bottom: 1em;
    font-size: 18px;
    color: #e0e0e0;
}
p1 {
  font-size: 18px;
  color: #e0e0e0;
}

/* Header title weight */
h1 {
  font-weight: 700;
    background: rgba(191, 213, 255, .15);
    padding: 30px;
    border-radius: 1rem;
    border: 1px solid rgb(255 255 255 / 25%);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
h1:hover {
  border: 1px solid #76ff33;
}
h2 {
  font-weight: 500; 
  font-size: 18px;
  margin-top: -2em;
}
p a {
  color: #76ff33;
  text-decoration: none; /* optional */
}

p a:hover {
  color: #76ff33;
  text-decoration: underline;
}

p a:visited {
  color: #54b723;
}
